*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: inter, sans-serif;
}
body{
       background-color: #FFFDEB;
    color: #211e1c;
    }
    
header{
      
    justify-content: space-between;
    width:100%;
      display: flex;
    align-items: center;
      padding: 15px 25px;
      
    background-color: #430606;
    
    
 
   }
   
   .logo img{
          
      height: 80px; 
     width: auto;
    
   }
   
 ul{
           list-style: none;
        display: flex;
      gap: 25px;
     color: #fffcfc;
    font-weight: bolder;
 padding-right: 400px;
    
}
   li a{
    text-decoration: none;
          
    color: azure;
    font-weight: bold;

}
.nav-actions search{
    position: absolute;
    height: 15px;
    margin-right: 100px;
    
    
 }
.nav-actions {

    display: flex;
    color: #f4f0f0;
  align-items: center;
        
    height: 80px;
    border-radius: 50px;
     

}

.nav-actions img{
    height: 25px;
    gap: 15px;
    padding-left: 10px;
}
.search-btn-top{
  color: #000;
    background-color: #fffafa;
    
    border-radius: 50px;
      width: 200px;
      height: 40px;
      box-shadow: 0 4px 12px rgb(172, 159, 159);
      float: right;
      border: none;
}

.banner{
    position: relative;
    width: 100%;
    height: 400px;
 }
.banner img{
    width: 100%;
    height: 100%;
 margin-top: 35px;
    
    display: block;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fffafa;
    
    width: 100%;
}
.banner-content h1{
     
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 0 8px 25px rgb(0, 0, 0);
     
}
.banner-content p{
    font-size: 2rem;
   
}

.search-bar-box{
    position: absolute;
     justify-content: space-between;
     
    background-color: #2c572c;
    padding: 15px 20px;
    border-radius: 50px;
      width: 70%;
    align-items: center;
    display: flex;
    gap: 30px;
    bottom: 20px;
    font-weight: bolder;
    box-shadow: 0 8px 25px rgb(0, 0, 0);
    
    margin-left: 200px;
    justify-content: space-around;
        
    
   
  }

   
  .search-field{
    position: relative;
    height: 40px;
       
       display: flex;
       flex: 1;
       justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #FFFDEB;
   
    align-items: center;
    gap: 15px;
    box-shadow: 0 4 8px #000;
    
        
  }
 
   .search-bar-box img{
    position: relative;
    display:25px;
    width: auto;
    margin-bottom: 25px;
   
    
  }
   

.search-bar-box .search-submit{
    height: 40px;
    width: 80px;
    background-color: #ddc26c;
    border-radius: 50px;
    font-size: large;
    font-weight: bolder;
    border: none;
}
.search-submit:hover {
    background-color: #479247;  
}
.banner-content p{
   
    font-weight: bolder;
    text-shadow: 0 8px 25px rgb(0, 0, 0);

}
.destinations-section{
    padding: 40px 150px 40px;
   width: 100%;
    
   }
   
 
.destinations-title-row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 25px;
   
    
   
}
.oplevelser-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.oplev{
    border: #fffafa;
    border-radius: 8px;
    overflow: hidden;
    width: 260px;
    height: 390px;
    box-shadow: 0 4px 8px #000;
    transition: 0.3s ease;
    background-color: #fffafa;
    padding: 5px 5px;
}
 
.oplev img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    padding: 5px 5px;
}

.oplev h3{
    font-size: 1.2rem;
    color: #000;
    padding: 8px 8px;
}
.oplev p{
    font-size: 0.95rem;
    color: #000;
    padding: 10px 15px;
}
 
.oplev:hover{
    transform: translateY(-5px);
}
.oplev .price{
   display: flex;
    font-weight: bold;
    color: rgb(1, 46, 85);
    padding: 10px 15px;
}
.knap{
    display: block;
    width: 90px;
    height: 40px;
    background-color: rgb(11, 101, 104);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
    float: right;
    
}

.knap:hover{
    background-color: #0d3602;
}

footer{
    background-color: #430606;
    color: #ffffff;
    text-align: center;
    padding: 20px;
     margin-top: 35px;
     font-size: 0.95rem;
     box-shadow: 0 -2px 5px cornsilk;
}
.footer-container{
    width: 100%;
    padding: 0 20px;
    display: flex;
  align-items: center;
    gap: 20px;

}
.footer-container img{
    height: 60px; 
     width: auto;
     object-fit: contain;

}
.social-icons{
        color: #fffafa;
    display: flex;
    font-size: 1.2rem;
    gap: 10px;

    
}
.social-icons img{
    height: 40px;
    
}
 
.footer-link a{
    color: #fffcfc;
    font-weight: 200;
    text-decoration: none;
}
.footer-copy{
    color: #ffffff;
}